### YASHASVI VERMA

### Salary prediction from Random numbers using linear regression


Taking 500 random values between 1 and 50 and making prediction of salary based on the number of skills a person has

In [1]:
import numpy as np
import pandas as pd

In [2]:
skills = np.linspace(1, 50, 500, dtype='int')

In [3]:
print(skills)

[ 1  1  1  1  1  1  1  1  1  1  1  2  2  2  2  2  2  2  2  2  2  3  3  3
  3  3  3  3  3  3  3  4  4  4  4  4  4  4  4  4  4  5  5  5  5  5  5  5
  5  5  5  6  6  6  6  6  6  6  6  6  6  6  7  7  7  7  7  7  7  7  7  7
  8  8  8  8  8  8  8  8  8  8  9  9  9  9  9  9  9  9  9  9 10 10 10 10
 10 10 10 10 10 10 11 11 11 11 11 11 11 11 11 11 11 12 12 12 12 12 12 12
 12 12 12 13 13 13 13 13 13 13 13 13 13 14 14 14 14 14 14 14 14 14 14 15
 15 15 15 15 15 15 15 15 15 16 16 16 16 16 16 16 16 16 16 17 17 17 17 17
 17 17 17 17 17 17 18 18 18 18 18 18 18 18 18 18 19 19 19 19 19 19 19 19
 19 19 20 20 20 20 20 20 20 20 20 20 21 21 21 21 21 21 21 21 21 21 22 22
 22 22 22 22 22 22 22 22 22 23 23 23 23 23 23 23 23 23 23 24 24 24 24 24
 24 24 24 24 24 25 25 25 25 25 25 25 25 25 25 26 26 26 26 26 26 26 26 26
 26 27 27 27 27 27 27 27 27 27 27 28 28 28 28 28 28 28 28 28 28 28 29 29
 29 29 29 29 29 29 29 29 30 30 30 30 30 30 30 30 30 30 31 31 31 31 31 31
 31 31 31 31 32 32 32 32 32 32 32 32 32 32 33 33 33 33 33 33 33 33 33 33
 33 34 34 34 34 34 34 34 34 34 34 35 35 35 35 35 35 35 35 35 35 36 36 36
 36 36 36 36 36 36 36 37 37 37 37 37 37 37 37 37 37 38 38 38 38 38 38 38
 38 38 38 39 39 39 39 39 39 39 39 39 39 39 40 40 40 40 40 40 40 40 40 40
 41 41 41 41 41 41 41 41 41 41 42 42 42 42 42 42 42 42 42 42 43 43 43 43
 43 43 43 43 43 43 44 44 44 44 44 44 44 44 44 44 44 45 45 45 45 45 45 45
 45 45 45 46 46 46 46 46 46 46 46 46 46 47 47 47 47 47 47 47 47 47 47 48
 48 48 48 48 48 48 48 48 48 49 49 49 49 49 49 49 49 49 49 50]

In [4]:
salaries = skills* 8000

In [5]:
buffer = np.random.randint(1,40000,500)

In [6]:
buffer

array([29752,  1603, 19104,  7524,  4271, 35331,    81, 25741, 36734,
       12279, 17429, 12464, 39297, 31226, 34545, 15385, 23270, 14691,
       17802,  6378,  4258, 21686, 23011, 20580, 12920, 18852, 13135,
       21355, 32605, 36522, 32247, 23258, 36814, 38534,  1400, 30387,
       17965, 23698,  2161, 35634, 17518,    19, 30569,  3727, 33257,
       13671,  6687, 27968,  2875, 18506,  6055, 27969, 31643, 21460,
       28303, 16307, 17178, 12955, 12209, 29537, 36596, 23818, 26497,
       16617, 24776, 21655,  7111,  9777, 14458, 26610,  6206, 27753,
       33872, 17232, 32291,  5161, 24795, 32623, 15597, 19145,  7497,
       35872,  3545, 36033, 28584,  8118, 39433,  1270, 14489,  4502,
       16411, 13118, 34342, 36038, 16290,   478, 14050, 21195, 15521,
       21254, 30693,  4244, 20451, 16504, 10137,  5881, 17622, 19052,
       37379, 34885,   562, 24729, 17517, 26296, 17572, 29729,  6135,
       11131, 12960,  4599, 29793, 26346, 22664, 39574, 21261,  3541,
       35146, 14016, 17605, 17359, 37440, 28530, 37228, 15019, 11205,
       35661, 33816,  2148,  8633, 30812, 30822, 17183,  7859, 36716,
       15735, 38297,  7305, 39729, 32586,  9277, 25170, 36330, 26209,
       18426, 39997, 21302, 18951, 22577, 30758, 11638, 17987, 34934,
        6498, 34472, 11369,  2276, 38693,   822,  4148, 22213, 17629,
        3888, 31164, 17662,   771, 38180, 31117, 15598, 29305, 29194,
       11089,  1377,    42,  1075, 23879, 18939, 39800,  2535, 12454,
         271,  5685,  3286, 32033, 35113, 37119, 13745, 25353,  6101,
       30357, 16929,  6460, 28372, 24687,   458, 38304, 25028,  8281,
       32171, 13091, 25894, 31835,  9399, 17229, 22065, 12365, 26668,
        9312, 14625, 19846, 29240, 29265,  6962, 33637, 28213, 28702,
       18448, 24620, 34606,  1436, 23295, 30092, 11131, 34203, 10349,
       12413, 29548,   148, 29306, 21700, 11408, 34908, 10716, 10041,
       22415,  7357,  9571, 11208, 10957, 21902, 21429, 28562, 11346,
       31217, 31540, 29237,  8550, 33936, 18269,  9872, 39735,   513,
       20204, 37103, 38153, 21518,  7645, 18341, 30382, 31682,  9829,
       21827,  4538,  6666, 33595, 22835, 25786, 25607, 31668,   322,
        9922, 21311, 16806, 22773, 12366, 10017, 15317, 27759, 39755,
        3534,  9898, 38523, 38369, 18381,  7126, 18351,  3970,  7941,
       11529,  6047,  8671,  3918, 39109, 34897, 39287, 17442, 24964,
       27655, 21572, 32751, 24931, 33308, 25775, 37054, 16226, 30014,
       11760, 12153,  6141, 26703,  3397,  2229, 10823,  6381, 35269,
       23130, 14615, 32476, 34395,  2618,  8015, 20975, 36068, 10783,
       28631, 31463, 13678, 36295,  7746, 10989, 26179,  4226, 34444,
       31529, 25859,  4637,  6926, 18210, 26484, 38523, 30374,  9456,
       29494, 17780, 36851, 30909, 37592,  8743, 24786,  5022, 28004,
       38524,  1598, 22395, 30663, 24933, 20917, 23435, 11049, 21261,
       33771,  7867, 21408, 20752,    57, 37346, 39676,  2048, 20596,
       16774, 25561, 11806, 17732, 28623, 15643, 24957,  4803, 24907,
       21388, 14919, 33998, 12559, 17282, 12925, 31927, 19545, 26273,
       27115, 33528, 26701, 19860, 23771, 32077, 13712, 36711, 31336,
       35973,  9051, 23787, 31370,  6179, 18514, 11708, 27085, 24439,
        4836, 35955, 27443,  4958, 16842, 25649, 39460, 20080, 28427,
       35735, 14385, 13046, 36084, 35646, 38023, 13882, 36434, 25208,
       39813, 11662, 23912, 22017, 16994, 30116, 22672, 37019, 28457,
       11932, 27628, 27503, 22313,   412, 36188, 12237, 36186,  1285,
       39402, 33474, 28336, 33112, 38518, 37436, 20242, 15950, 34514,
       14985, 11226, 11001, 21589, 21899, 27829, 38649, 28560, 17518,
       10118,  2071, 14797, 13015, 12843, 15487, 19679,  5928, 16813,
       28494, 12582,  2854, 12019, 13105, 28147, 22926,  5137,  3321,
       34451, 12683, 33255, 37931, 11432,  8264,  3433,  2699, 21432,
       32059, 32793, 21233, 38176, 31513])

In [7]:
salaries = (skills* 8000)+buffer

In [8]:
salaries

array([ 37752,   9603,  27104,  15524,  12271,  43331,   8081,  33741,
        44734,  20279,  25429,  28464,  55297,  47226,  50545,  31385,
        39270,  30691,  33802,  22378,  20258,  45686,  47011,  44580,
        36920,  42852,  37135,  45355,  56605,  60522,  56247,  55258,
        68814,  70534,  33400,  62387,  49965,  55698,  34161,  67634,
        49518,  40019,  70569,  43727,  73257,  53671,  46687,  67968,
        42875,  58506,  46055,  75969,  79643,  69460,  76303,  64307,
        65178,  60955,  60209,  77537,  84596,  71818,  82497,  72617,
        80776,  77655,  63111,  65777,  70458,  82610,  62206,  83753,
        97872,  81232,  96291,  69161,  88795,  96623,  79597,  83145,
        71497,  99872,  75545, 108033, 100584,  80118, 111433,  73270,
        86489,  76502,  88411,  85118, 114342, 116038,  96290,  80478,
        94050, 101195,  95521, 101254, 110693,  84244, 108451, 104504,
        98137,  93881, 105622, 107052, 125379, 122885,  88562, 112729,
       105517, 122296, 113572, 125729, 102135, 107131, 108960, 100599,
       125793, 122346, 118664, 143574, 125261, 107541, 139146, 118016,
       121605, 121359, 141440, 132530, 141228, 127019, 123205, 147661,
       145816, 114148, 120633, 142812, 142822, 129183, 119859, 156716,
       135735, 158297, 127305, 159729, 152586, 129277, 145170, 156330,
       146209, 146426, 167997, 149302, 146951, 150577, 158758, 139638,
       145987, 162934, 134498, 170472, 147369, 138276, 174693, 136822,
       140148, 158213, 153629, 139888, 167164, 153662, 144771, 182180,
       175117, 159598, 173305, 173194, 155089, 145377, 144042, 145075,
       175879, 170939, 191800, 154535, 164454, 152271, 157685, 155286,
       184033, 187113, 197119, 173745, 185353, 166101, 190357, 176929,
       166460, 188372, 184687, 160458, 206304, 193028, 176281, 200171,
       181091, 193894, 199835, 177399, 185229, 190065, 188365, 202668,
       185312, 190625, 195846, 205240, 205265, 182962, 209637, 204213,
       204702, 202448, 208620, 218606, 185436, 207295, 214092, 195131,
       218203, 194349, 196413, 221548, 192148, 221306, 213700, 203408,
       226908, 202716, 202041, 214415, 199357, 209571, 211208, 210957,
       221902, 221429, 228562, 211346, 231217, 231540, 229237, 216550,
       241936, 226269, 217872, 247735, 208513, 228204, 245103, 246153,
       229518, 223645, 234341, 246382, 247682, 225829, 237827, 220538,
       222666, 249595, 238835, 249786, 249607, 255668, 224322, 233922,
       245311, 240806, 246773, 236366, 234017, 239317, 259759, 271755,
       235534, 241898, 270523, 270369, 250381, 239126, 250351, 235970,
       247941, 251529, 246047, 248671, 243918, 279109, 274897, 279287,
       257442, 264964, 275655, 269572, 280751, 272931, 281308, 273775,
       285054, 264226, 278014, 259760, 268153, 262141, 282703, 259397,
       258229, 266823, 262381, 291269, 279130, 270615, 296476, 298395,
       266618, 272015, 284975, 300068, 274783, 292631, 295463, 277678,
       300295, 279746, 282989, 298179, 276226, 306444, 303529, 297859,
       276637, 278926, 290210, 306484, 318523, 310374, 289456, 309494,
       297780, 316851, 310909, 317592, 288743, 312786, 293022, 316004,
       326524, 289598, 310395, 318663, 312933, 308917, 311435, 307049,
       317261, 329771, 303867, 317408, 316752, 296057, 333346, 335676,
       298048, 324596, 320774, 329561, 315806, 321732, 332623, 319643,
       328957, 308803, 328907, 333388, 326919, 345998, 324559, 329282,
       324925, 343927, 331545, 338273, 339115, 345528, 346701, 339860,
       343771, 352077, 333712, 356711, 351336, 355973, 329051, 343787,
       359370, 334179, 346514, 339708, 355085, 352439, 332836, 363955,
       355443, 332958, 352842, 361649, 375460, 356080, 364427, 371735,
       350385, 349046, 372084, 371646, 382023, 357882, 380434, 369208,
       383813, 355662, 367912, 366017, 360994, 374116, 374672, 389019,
       380457, 363932, 379628, 379503, 374313, 352412, 388188, 364237,
       388186, 361285, 399402, 393474, 388336, 393112, 398518, 397436,
       380242, 375950, 394514, 382985, 379226, 379001, 389589, 389899,
       395829, 406649, 396560, 385518, 378118, 378071, 390797, 389015,
       388843, 391487, 395679, 381928, 392813, 404494, 388582, 386854,
       396019, 397105, 412147, 406926, 389137, 387321, 418451, 396683,
       417255, 429931, 403432, 400264, 395433, 394699, 413432, 424059,
       424793, 413233, 430176, 431513])

In [9]:
df = pd.DataFrame({
    "Skills": skills, 
    "Salaries":salaries})

In [10]:
df

     Skills  Salaries
0         1     37752
1         1      9603
2         1     27104
3         1     15524
4         1     12271
..      ...       ...
495      49    424059
496      49    424793
497      49    413233
498      49    430176
499      50    431513

[500 rows x 2 columns]

In [11]:
import sklearn

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X=df[["Skills"]].values
Y=df[["Salaries"]].values

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size= 0.8)

In [15]:
X_train.shape

(400, 1)

In [16]:
Y

array([[ 37752],
       [  9603],
       [ 27104],
       [ 15524],
       [ 12271],
       [ 43331],
       [  8081],
       [ 33741],
       [ 44734],
       [ 20279],
       [ 25429],
       [ 28464],
       [ 55297],
       [ 47226],
       [ 50545],
       [ 31385],
       [ 39270],
       [ 30691],
       [ 33802],
       [ 22378],
       [ 20258],
       [ 45686],
       [ 47011],
       [ 44580],
       [ 36920],
       [ 42852],
       [ 37135],
       [ 45355],
       [ 56605],
       [ 60522],
       [ 56247],
       [ 55258],
       [ 68814],
       [ 70534],
       [ 33400],
       [ 62387],
       [ 49965],
       [ 55698],
       [ 34161],
       [ 67634],
       [ 49518],
       [ 40019],
       [ 70569],
       [ 43727],
       [ 73257],
       [ 53671],
       [ 46687],
       [ 67968],
       [ 42875],
       [ 58506],
       [ 46055],
       [ 75969],
       [ 79643],
       [ 69460],
       [ 76303],
       [ 64307],
       [ 65178],
       [ 60955],
       [ 60209],
       [ 77537],
       [ 84596],
       [ 71818],
       [ 82497],
       [ 72617],
       [ 80776],
       [ 77655],
       [ 63111],
       [ 65777],
       [ 70458],
       [ 82610],
       [ 62206],
       [ 83753],
       [ 97872],
       [ 81232],
       [ 96291],
       [ 69161],
       [ 88795],
       [ 96623],
       [ 79597],
       [ 83145],
       [ 71497],
       [ 99872],
       [ 75545],
       [108033],
       [100584],
       [ 80118],
       [111433],
       [ 73270],
       [ 86489],
       [ 76502],
       [ 88411],
       [ 85118],
       [114342],
       [116038],
       [ 96290],
       [ 80478],
       [ 94050],
       [101195],
       [ 95521],
       [101254],
       [110693],
       [ 84244],
       [108451],
       [104504],
       [ 98137],
       [ 93881],
       [105622],
       [107052],
       [125379],
       [122885],
       [ 88562],
       [112729],
       [105517],
       [122296],
       [113572],
       [125729],
       [102135],
       [107131],
       [108960],
       [100599],
       [125793],
       [122346],
       [118664],
       [143574],
       [125261],
       [107541],
       [139146],
       [118016],
       [121605],
       [121359],
       [141440],
       [132530],
       [141228],
       [127019],
       [123205],
       [147661],
       [145816],
       [114148],
       [120633],
       [142812],
       [142822],
       [129183],
       [119859],
       [156716],
       [135735],
       [158297],
       [127305],
       [159729],
       [152586],
       [129277],
       [145170],
       [156330],
       [146209],
       [146426],
       [167997],
       [149302],
       [146951],
       [150577],
       [158758],
       [139638],
       [145987],
       [162934],
       [134498],
       [170472],
       [147369],
       [138276],
       [174693],
       [136822],
       [140148],
       [158213],
       [153629],
       [139888],
       [167164],
       [153662],
       [144771],
       [182180],
       [175117],
       [159598],
       [173305],
       [173194],
       [155089],
       [145377],
       [144042],
       [145075],
       [175879],
       [170939],
       [191800],
       [154535],
       [164454],
       [152271],
       [157685],
       [155286],
       [184033],
       [187113],
       [197119],
       [173745],
       [185353],
       [166101],
       [190357],
       [176929],
       [166460],
       [188372],
       [184687],
       [160458],
       [206304],
       [193028],
       [176281],
       [200171],
       [181091],
       [193894],
       [199835],
       [177399],
       [185229],
       [190065],
       [188365],
       [202668],
       [185312],
       [190625],
       [195846],
       [205240],
       [205265],
       [182962],
       [209637],
       [204213],
       [204702],
       [202448],
       [208620],
       [218606],
       [185436],
       [207295],
       [214092],
       [195131],
       [218203],
       [194349],
       [196413],
       [221548],
       [192148],
       [221306],
       [213700],
       [203408],
       [226908],
       [202716],
       [202041],
       [214415],
       [199357],
       [209571],
       [211208],
       [210957],
       [221902],
       [221429],
       [228562],
       [211346],
       [231217],
       [231540],
       [229237],
       [216550],
       [241936],
       [226269],
       [217872],
       [247735],
       [208513],
       [228204],
       [245103],
       [246153],
       [229518],
       [223645],
       [234341],
       [246382],
       [247682],
       [225829],
       [237827],
       [220538],
       [222666],
       [249595],
       [238835],
       [249786],
       [249607],
       [255668],
       [224322],
       [233922],
       [245311],
       [240806],
       [246773],
       [236366],
       [234017],
       [239317],
       [259759],
       [271755],
       [235534],
       [241898],
       [270523],
       [270369],
       [250381],
       [239126],
       [250351],
       [235970],
       [247941],
       [251529],
       [246047],
       [248671],
       [243918],
       [279109],
       [274897],
       [279287],
       [257442],
       [264964],
       [275655],
       [269572],
       [280751],
       [272931],
       [281308],
       [273775],
       [285054],
       [264226],
       [278014],
       [259760],
       [268153],
       [262141],
       [282703],
       [259397],
       [258229],
       [266823],
       [262381],
       [291269],
       [279130],
       [270615],
       [296476],
       [298395],
       [266618],
       [272015],
       [284975],
       [300068],
       [274783],
       [292631],
       [295463],
       [277678],
       [300295],
       [279746],
       [282989],
       [298179],
       [276226],
       [306444],
       [303529],
       [297859],
       [276637],
       [278926],
       [290210],
       [306484],
       [318523],
       [310374],
       [289456],
       [309494],
       [297780],
       [316851],
       [310909],
       [317592],
       [288743],
       [312786],
       [293022],
       [316004],
       [326524],
       [289598],
       [310395],
       [318663],
       [312933],
       [308917],
       [311435],
       [307049],
       [317261],
       [329771],
       [303867],
       [317408],
       [316752],
       [296057],
       [333346],
       [335676],
       [298048],
       [324596],
       [320774],
       [329561],
       [315806],
       [321732],
       [332623],
       [319643],
       [328957],
       [308803],
       [328907],
       [333388],
       [326919],
       [345998],
       [324559],
       [329282],
       [324925],
       [343927],
       [331545],
       [338273],
       [339115],
       [345528],
       [346701],
       [339860],
       [343771],
       [352077],
       [333712],
       [356711],
       [351336],
       [355973],
       [329051],
       [343787],
       [359370],
       [334179],
       [346514],
       [339708],
       [355085],
       [352439],
       [332836],
       [363955],
       [355443],
       [332958],
       [352842],
       [361649],
       [375460],
       [356080],
       [364427],
       [371735],
       [350385],
       [349046],
       [372084],
       [371646],
       [382023],
       [357882],
       [380434],
       [369208],
       [383813],
       [355662],
       [367912],
       [366017],
       [360994],
       [374116],
       [374672],
       [389019],
       [380457],
       [363932],
       [379628],
       [379503],
       [374313],
       [352412],
       [388188],
       [364237],
       [388186],
       [361285],
       [399402],
       [393474],
       [388336],
       [393112],
       [398518],
       [397436],
       [380242],
       [375950],
       [394514],
       [382985],
       [379226],
       [379001],
       [389589],
       [389899],
       [395829],
       [406649],
       [396560],
       [385518],
       [378118],
       [378071],
       [390797],
       [389015],
       [388843],
       [391487],
       [395679],
       [381928],
       [392813],
       [404494],
       [388582],
       [386854],
       [396019],
       [397105],
       [412147],
       [406926],
       [389137],
       [387321],
       [418451],
       [396683],
       [417255],
       [429931],
       [403432],
       [400264],
       [395433],
       [394699],
       [413432],
       [424059],
       [424793],
       [413233],
       [430176],
       [431513]])

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
linReg = LinearRegression()

In [19]:
linReg.fit(X_train, Y_train)

LinearRegression()

In [20]:
linReg.intercept_

array([19529.47980168])

In [22]:
usk=int(input("Enter number of skills and i will help you predict your salary"))
print("Your predicted salary is :" ,linReg.predict([[usk]])[0][0])

Enter number of skills and i will help you predict your salary1
Your predicted salary is : 27584.66451905188